name: Deploy workflow
on: [push]
concurrency:
  group: push-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - run: pnpm i
      - run: pnpm lint
      - run: pnpm sync
      - run: pnpm check
      - run: |
          wget 'https://github.com/wangfenjin/simple/releases/download/v0.5.2/libsimple-linux-ubuntu-latest.zip'
          unzip libsimple-linux-ubuntu-latest.zip
          cp libsimple-linux-ubuntu-latest/libsimple.so ./db/
      - run: pnpm test
      - run: pnpm build

      - name: Send Notification
        uses: haishanh/actions-telegram-notification@v2
        if: ${{ always() }}
        with:
          notification-token: ${{ secrets.TG_NOTIFICATION_TOKEN }}
          job-status: ${{ job.status }}
  docker:
    needs: build
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'push' &&
      (
        startsWith(github.event.ref, 'refs/tags/') ||
        startsWith(github.event.ref, 'refs/heads/v') ||
        github.event.ref == 'refs/heads/main' ||
        github.event.ref == 'refs/heads/test'
      )
    steps:
      - uses: actions/checkout@v4

      - uses: actions/github-script@v8
        id: set-images
        with:
          script: |
            const images = [];
            // "ref" like "refs/heads/v0.0.9-rc.4",
            if (context.eventName === 'push' && context.ref.startsWith('refs/heads/v') && /-rc\.[\d]+/.test(context.ref)) {
              images.push('r0.haishan.me/haishanh/cherry');
            } else {
              images.push('haishanh/cherry');
              images.push('ghcr.io/haishanh/cherry');
            }
            return images.join('\n');
          result-encoding: string

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.set-images.outputs.result }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set git commit sha
        id: revparse
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Builder instance name
        run: echo ${{ steps.buildx.outputs.name }}
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Login to r0.haishan.me
        uses: docker/login-action@v3
        with:
          registry: r0.haishan.me
          username: ${{ github.actor }}
          password: ${{ secrets.R_HAISHAN_ME_PASSWORD }}
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          build-args: |
            COMMIT_SHA=${{ env.sha_short }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate summary
        uses: actions/github-script@v8
        env:
          TAGS: ${{ steps.docker_meta.outputs.tags }}
        with:
          script: |
            core.summary.addHeading('Docker Images', '2');
            core.summary.addEOL();
            core.summary.addCodeBlock(`${process.env.TAGS}`);
            core.summary.addEOL();
            core.summary.write();

      - name: Send Notification
        uses: haishanh/actions-telegram-notification@v2
        if: ${{ always() }}
        with:
          notification-token: ${{ secrets.TG_NOTIFICATION_TOKEN }}
          job-status: ${{ job.status }}
